@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

.border {
  border-width: 0px !important;
}
.border-b {
  border-bottom-width: 0px !important;
}
.border-t {
  border-top-width: 0px !important;
}

.react-calendar {
  background-color: #1a1a1a;
  color: #ffffff;
}

.react-calendar__tile {
  background: none;
  color: #ffffff;
}

.react-calendar__tile--active {
  background-color: #ffffff;
  color: #931020;
}

.react-calendar__tile--now {
  background-color: #333333;
  color: #ffffff;
}

.react-calendar__tile:hover {
  background-color: #444444;
  color: #ffffff;
}

.landscape-position {
  object-position: center top;
}

@media (max-width: 768px) {
  .landscape-position {
    object-position: 77% center;
  }

  .hero-image-container {
    position: absolute;
    inset: 0;
  }
}
